/BA_web_manage/vendor
/BA_web_manage/node_modules
/BA_web_manage/public/hot
/BA_web_manage/public/storage
/BA_web_manage/storage/*.key
/BA_web_manage/.env
/BA_web_manage/.env.backup
/BA_web_manage/.phpunit.result.cache
/BA_web_manage/Homestead.json
/BA_web_manage/Homestead.yaml
/BA_web_manage/npm-debug.log
/BA_web_manage/yarn-error.log

/server_node/node_modules

/web_hospitall/node_modules
/web_hospitall/.DS_Store
/web_hospitall/dist
/web_hospitall/.env.local
/web_hospitall/.env.*.local
/web_hospitall/npm-debug.log*
/web_hospitall/yarn-error.log*
/web_hospitall/pnpm-debug.log*
/web_hospitall/.idea
/web_hospitall/.vscode
/web_hospitall/*.suo
/web_hospitall/*.ntvs*
/web_hospitall/*.njsproj
/web_hospitall/*.sln
/web_hospitall/*.sw?
