.login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: url('~@/assets/img/banner/banner.jpg');
  }
  
  .login__container {
    width: 40rem;
    padding: 4rem 2rem 1rem 2rem;
    border-radius: 0.8rem;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .login__container > p {
    text-align: center;
    margin: 2rem 0rem;
  }
  
  .login__container > p a {
    font-weight: 600;
    color: #fff;
  }
  
  .login__container > h2 {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .login__container > div {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom:2rem;
  }
  .login__container>div>p{
    color: red;
    font-size: 14px;
    font-weight: bold;
  }
  .error{
    border: 2px solid red;
  }
  .login__container > div> input[type="number"]::-webkit-outer-spin-button,
  .login__container > div> input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
  }
  .login__container > div .select-arrow {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    color: rgba(128, 128, 128, 0.8);
  }
  
  .login__container > div > input,
  .login__container > div > select {
    width: 100%;
    padding: 1.5rem 4rem;
    background-color: #fff;
  }
  
  .login__container > div > span {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    color: rgba(128, 128, 128, 0.8);
  }
  
  .login__container > div > button {
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
    background-color: red;
    color: #fff;
  }
  .confirm__wrap{
    position:fixed;
    background-color:rgba(251, 249, 249, 0.622);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    display:flex;
    justify-content:center;
    align-items: center;
  }
  .confirm{
    /* display:inline-block; */
    padding: 26px;
    width: 60%;
    height: 36%;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
  }
  .confirm span{
    font-size: 24px;
    font-weight: bold;
    color: red;
  }
  .confirm input[type="number"]{
    background-color: rgb(236, 239, 242);
    color: red;
    width: 30%;
    height: 26px;
    font-size:24px;
    font-weight: bold;
    outline: none;
    margin-top: 26px;
    box-shadow: 0px 0px 10px rgb(184, 184, 184);
    padding: 16px;
    text-align: center;
    letter-spacing: 6px
  }
  /* .confirm input[type="number"]:focus{
    ;
  } */
  .confirm input[type="number"]::placeholder{
    font-size: 11px;
    letter-spacing:1px
  }
  .confirm input[type="number"]::-webkit-outer-spin-button,
  .confirm input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
  }

  .confirm button{
    padding: 12px 16px;
    margin:0 auto;
    margin-top:26px;
    margin-right: 16px;
    background-color: rgb(184, 184, 184);
    color: rgb(60, 60, 60);
    font-weight: bold;
    
    transition: all .2s
  }
  .confirm button:hover{
    padding: 14px 18px;
    box-shadow:0 0 16px rgb(163, 163, 163);
  }