.img-wrap {
    position: relative;
    height: auto;
    overflow: hidden;
    background-position: 50% 50%;
    background-size: cover !important;
  }
  
  .img-wrap img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    transform: translateZ(0);
    margin: 0 auto;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    object-position: 50% 50%;
    object-fit: cover;
  }
  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
  }
  
  .hidden {
    display: none;
  }
  
  .banner {
    position: relative;
  }
  
  .banner__image {
    padding-top: 40%;
  }
  
  .banner__option {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
  }
  
  .banner__option--container {
    margin-top: 4rem;
    padding: 1rem 0rem;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), white);
    position: relative;
    z-index: 11;
  }
  
  @media all and (min-width: 1024px) {
    .banner__option--container {
      margin-top: -10rem;
    }
  }
  
  @media all and (min-width: 1024px) {
    .banner__option {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0;
    }
  }
  
  .banner__option--item {
    padding: 1rem 0rem;
    display: block;
    cursor: pointer;
    flex-shrink: 0;
  }
  
  @media all and (min-width: 1280px) {
    .banner__option--item {
      width: calc(100% / 8);
    }
  }
  
  .banner__option--item > div {
    margin: auto;
    width: 5rem;
    height: 5rem;
    border-radius: 100rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 1rem;
  }
  
  .banner__option--item > div img {
    width: 70%;
    height: 70%;
    border-radius: 100rem;
    object-fit: cover;
  }
  
  .banner__option--item > p {
    text-align: center;
    font-size: 1.46rem;
    line-height: 1.6rem;
    font-weight: 600;
  }
  
  .banner__option--item > p:hover {
    color: var(--color);
  }
  
  .banner__option--item > p span {
    display: block;
  }
  
  .banner__search {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));
    z-index: 20;
    color: #ffffff;
    text-shadow: 1px 1px 1px #333;
    text-align: center;
  }
  
  @media all and (min-width: 1024px) {
    .banner__search {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 80%;
      bottom: 0;
    }
  }
  
  @media all and (max-width: 1024px) {
    .banner__search {
      padding-top: 2rem;
    }
  }
  
  @media all and (min-width: 1024px) {
    .banner__search {
      padding-top: 7%;
    }
  }
  
  .banner__search h2 {
    font-size: 3.2rem;
    font-weight: 300;
  }
  
  .banner__search h1 {
    font-size: 3.2rem;
    font-weight: bold;
  }
  
  .banner__search--input {
    width: 33%;
    position: relative;
    padding: 2rem;
    margin: auto;
  }
  
  .banner__search--input input {
    width: 100%;
    padding: 1.6rem;
    padding-left: 4.5rem;
    border-radius: 100rem;
    background-color: #f7d800;
    color: #ffffff;
  }
  
  .banner__search--input input::placeholder {
    font-family: var(--font-family);
  }
  
  .banner__search--input i {
    font-size: 2rem;
    color: #333;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3.5rem;
  }
  
  .banner__search--app {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 2rem auto;
    width: 30rem;
  }
  
  @media all and (min-width: 1024px) {
    .banner__search--app {
      margin: 6rem auto;
    }
  }
  
  .banner__search--app img {
    width: 12.5rem;
  }
  
  .banner__search--popup {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: none;
    width: 100%;
    max-height: 60vh;
    overflow-y: scroll;
    text-shadow: none;
    color: #333;
    text-align: left;
    background-color: #ffffff;
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
  }
  
  .banner__search--popup.active {
    display: block !important;
  }
  
  .banner__search--popup ul li.active {
    font-weight: 600;
    background-color: rgba(128, 128, 128, 0.105);
  }
  
  .banner__search--popup ul li {
    padding: 1rem 1rem;
    font-size: 1.4rem;
    border-bottom: 0.1rem solid rgba(51, 51, 51, 0.1);
  }
  .service .row {
    overflow: hidden;
  }
  
  .service__slider {
    margin-top: 3rem;
    cursor: pointer;
    position: relative;
    display: flex;
  }
  
  @media all and (min-width: 550px) {
    .service__slider {
      margin-left: -2.5rem !important;
      margin-right: -2.5rem !important;
    }
  }
  
  .service__slider--item {
    width: 100%;
    flex-shrink: 0;
    position: relative;
    display: block;
  }
  
  @media all and (min-width: 550px) {
    .service__slider--item {
      width: 50%;
    }
  }
  
  @media all and (min-width: 768px) {
    .service__slider--item {
      width: calc(100% / 3);
    }
  }
  
  @media all and (min-width: 1024px) {
    .service__slider--item {
      width: 25%;
    }
  }
  
  @media all and (min-width: 550px) {
    .service__slider--item {
      padding-left: 2.5rem !important;
      padding-right: 2.5rem !important;
    }
  }
  
  .service__slider--item--sticky {
    position: absolute;
    z-index: 10;
    top: 1rem;
    background-color: #fef04c;
    border-radius: 100rem;
    padding: 0.4rem 1rem;
    font-weight: 600;
    font-size: 1.2rem;
    left: 3rem;
  }
  
  .service__slider--item--image {
    width: 100%;
    border-radius: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .service__slider--item--image > div {
    padding-top: 62.5%;
  }
  
  .service__slider--item--image img {
    border-radius: 1.2rem;
  }
  
  .service__slider--item h3 {
    font-size: 1.6rem;
  }
  
  .service__slider--item ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 3rem;
    list-style-type: disc;
  }
  
  .service__slider--item ul li {
    font-size: 1.3rem;
  }
  
  .service__slider--item p {
    font-weight: bold;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--color);
  }
  .item__post {
    display: flex;
    padding: 2rem 0rem;
  }
  
  .item__post__.row {
    overflow: hidden;
  }
  
  @media all and (max-width: 550px) {
    .item__post {
      margin-left: -2.5rem !important;
      margin-right: -2.5rem !important;
    }
  }
  
  .item__post--heading {
    font-weight: bold;
    font-size: 2.4rem;
    margin: 2.5rem 0rem;
  }
  
  .item__post--item {
    flex-shrink: 0;
    display: block;
    width: 100%;
  }
  
  @media all and (min-width: 550px) {
    .item__post--item {
      width: 50%;
    }
  }
  
  @media all and (min-width: 768px) {
    .item__post--item {
      width: calc(100% / 3);
    }
  }
  
  @media all and (min-width: 1024px) {
    .item__post--item {
      width: 25%;
    }
  }
  
  @media all and (min-width: 550px) {
    .item__post--item {
      padding-left: 2.5rem !important;
      padding-right: 2.5rem !important;
    }
  }
  
  .item__post--item--image {
    padding-top: 56.25%;
  }
  
  .item__post--item--text {
    margin: 0.2rem 0rem;
  }
  .item__guide {
    width: 100%;
    padding: 2rem 0rem;
    display: flex;
    flex-wrap: wrap;
  }
  
  .item__guide--item {
    display: flex !important;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  @media all and (min-width: 768px) {
    .item__guide--item {
      width: 50%;
    }
  }
  
  .item__guide--item--image {
    width: 25%;
    padding-top: 20%;
  }
  
  .item__guide--item--text {
    flex: 1;
    padding: 0rem 1rem;
    font-weight: bold;
  }
  
  @media all and (min-width: 768px) {
    .item__guide--item--text {
      padding: 0rem 2rem;
    }
  }
  
  .item__guide--wrapper {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }