.header{
  background-color:#fff;
  position:sticky;
  top: 0;
  z-index: 99;
} 
  .header__prev {
    font-size: 2.4rem;
    cursor: pointer;
  }
  
  .header.active {
    background-color: var(--color);
    color: #fff;
  }
  
  .header__content {
    padding: 1.6rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header__logo a {
    display: block;
  }
  
  .header__logo a img {
    width: 20rem;
  }
  
  .header__menu {
    padding-top: 1rem;
    background: #ffffff;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    width: 30rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 0.5s;
  }
  
  .header__menu ul li {
    padding: 1.4rem 1rem;
  }
  
  .header__menu ul li a {
    color: var(--color);
  }
  
  .header__menu.active {
    transform: translateX(0);
  }
  
  .header__menu--overlay {
    display: none;
    position: fixed;
    top: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.8);
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  .header__menu--overlay.active {
    display: block !important;
  }
  
  .header__icon {
    font-size: 2.8rem;
    cursor: pointer;
  }
  
  .header__list {
    display: none;
    gap: 2rem;
  }
  
  @media all and (min-width: 768px) {
    .header__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  
  .header__list li p:nth-child(1) {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .header__list li p:nth-child(2) {
    font-size: 1.1rem;
    color: gray;
  }
  
  .header__support a {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }
  
  .header__support i {
    font-size: 2.4rem;
  }
  @media all and (max-width: 768px) {
    .header {
      padding: 0rem 1rem;
    }
    .header__content{
      padding: 1rem 0;
    }
  }